/* колір вторичного тексту #212121 */
/* колір основного тексту #757575 */
/* кольори лого #2196F3 #000000   */
/* колір акценту #2196F3 */
/* колір фону навігації, тексту героя, адреси г Киев, лого в футері #FFFFFF*/
/* колір фону героя, футера #2F303A */
/* колір фону чем ми занимается  #E5E5E5 */
/* колір фону наша команда та кнопок на портфолио #F5F4FA */
/* колір посилань в футері rgba(255, 255, 255, 0.6); */
/* колір фону каталогу #EEEEEE */
/* колір фону кнопки героя при ховері #188CE8 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --add-color-logo: #000000;
  --add-color-text: #ffffff;
  --add-color-link: rgba(255, 255, 255, 0.6);
  --background-header-color: #ffffff;
  --background-primary-color: #e5e5e5;
  --background-secondary-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --background-catalogue-color: #eeeeee;
}

.list {
  list-style: none;
}

/*body*/
.body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--background-primary-color);
}

/* button */
.button {
  color: var(--add-color-text);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* navigation */
.navigation {
  background-color: var(--background-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent);
}

.logo-studio {
  color: var(--add-color-logo);
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent);
}

.mailto {
  color: var(--primary-text-color);
  text-decoration: none;
}

.mailto:hover,
.mailto:focus {
  color: var(--accent);
}

.tel {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* hero */
.hero {
  background-color: var(--background-hero-footer-color);
  color: var(--add-color-text);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* features */

.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* our team */
.our-team {
  background-color: var(--background-secondary-color);
}

.manager {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--background-header-color);
}

/* footer */

.footer {
  background-color: var(--background-hero-footer-color);
}

.add-color-text {
  color: var(--add-color-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.add-color-text:hover,
.add-color-text:focus {
  color: var(--accent);
}

.add-color-link {
  color: var(--add-color-link);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.add-color-link:hover,
.add-color-link:focus {
  color: var(--accent);
}

.footerlogo-web {
  color: var(--accent);
}

.footerlogo-studio {
  color: var(--add-color-text);
}
/* portfolio */

.button-portfolio {
  color: var(--title-text-color);
  background-color: var(--background-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--add-color-text);
  background-color: var(--accent);
}

.catalogue-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.catalogue p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.catalogue-item {
  background-color: var(--background-catalogue-color);
}
